<?php
return array(
    'strokercache' => array(
        'capture' => array(
           'public_dir' => __DIR__ . '/../public/static',
        ),
        'strategies' => array(
            'enabled' => array(
                'StrokerCache\Strategy\RouteName' => array(
                    'routes' => array(
                        'home',
                    ),
                ),
                /*'StrokerCache\Strategy\ControllerName' => array(
                    'controllers' => array(
                    )
                ),
                'StrokerCache\Strategy\Url' => array(
                    'regexpes' => array(
                    )
                )*/
            ),
        )
    )
);